*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


body {
    direction: rtl;
    font-family: 'Vazir' , sans-serif;
    

}
@import './header.css';
@import './product-card.css'
