.products{
    width: 100%;
    padding:0 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.product-card{
    width: 90%;
    margin: 15px;
    padding: 8px;
    display: flex;
    max-width: 240px;
    user-select: none;
    min-height: 420px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    transition-duration: 300ms;
}


.product-card:hover{
    box-shadow: 0 7px 10px rgba(0,0,0,0.2);
}

.product-card img{
    width:100%;
    border-radius: 8px;
}

.price-box{
    padding: 6px 16px;
}

.price-box__discount{
    display: flex;
    align-items:flex-start ;
    justify-content:space-between;
}


.price-box__discount span{
    color:#fff;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 16px;
    background-color: #f03;
}

.price-box__discount del{
    color: #f03;
    font-size: 14px;
}

.price{
    font-size: 18px !important;
    font-weight: bold !important;
}



.product-card__title{
    margin: 6px 0;
    font-size: 14px;
    padding: 0 16px;
    font-weight: normal;
}


.add-to-cart .add-btn{
    width: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 36px;
    margin-top: 6px;
    border-radius: 8px;
    background-color: #f06576;
    transition-duration: 300ms;
}


.add-to-cart .add-btn:hover{
    background-color: #f0253d;
}