header {
    z-index: 2;
    width: 100%;
    color: #fff;
    line-height: 60px;
    user-select: none;
    background-color: #303F9F;
}

header .container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

header .container h3 {
    font-weight: normal;
}

.cart {
    cursor: pointer;
}

.cart h3 {
    font-size: 14px;
}

.cart h3 span {
    font-size: 16px;
    margin-right: 8px;
}

.cart-content {
    left: 0;
    top: 61px;
    width: 90%;
    z-index: 1;
    color: #333;
    display: none;
    font-size: 14px;
    list-style: none;
    max-width: 260px;
    border-top: none;
    padding: 6px 16px;
    position: absolute;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
}

.cart:hover>.cart-content {
    display: block;
}

.cart-content__sum {
    width: 100%;
    display: flex;
    font-weight: 700;
    line-height: 44px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #303F9F;
}