* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: rgba(238, 238, 238, 0.5);
    font-family: 'Vazir', sans-serif;
}

button {
    font-family: 'Vazir', sans-serif;
}

.rial {
    font-size: 12px;
    margin-right: 4px;
}

@import './header.css';
@import './product-card.css';